@model OnlineLudoGame.Models.Board
@{
    ViewBag.Title = "Tic Tac Toe";
}
@section Styles{<link href="~/Content/gameBackground.css" rel="stylesheet" type="text/css" />}
<center><h1>End of Game</h1></center>
<center><h1>@Model.Win</h1></center>

@using (Html.BeginForm("PlayerMove", "Home"))
{
    <div id="game">
        <div>
            <button id="1" type="submit" name="buttonClick">@Model.Cell1</button>
            <button id="2" type="submit" name="buttonClick">@Model.Cell2</button>
            <button id="3" type="submit" name="buttonClick">@Model.Cell3</button>
        </div>
        <div>
            <button id="4" type="submit" name="buttonClick">@Model.Cell4</button>
            <button id="5" type="submit" name="buttonClick">@Model.Cell5</button>
            <button id="6" type="submit" name="buttonClick">@Model.Cell6</button>
        </div>
        <div>
            <button id="7" type="submit" name="buttonClick">@Model.Cell7</button>
            <button id="8" type="submit" name="buttonClick">@Model.Cell8</button>
            <button id="9" type="submit" name="buttonClick">@Model.Cell9</button>
        </div>
    </div>
}

<style>
    #game {
        width: 500px;
        height: 500px;
        background: #000000;
        border: 4px solid black;
        margin: 25px auto;
        padding: 25px;
        overflow: auto;
    }
        #game div {
            margin: 0 auto;
            clear: both;
            width: 450px;
        }
        #game button {
            display: block;
            float: left;
            width: 135px;
            height: 135px;
            border: 3px solid #0026ff;
            font-size: 110px;
            color: black;
            margin: 6px;
            background-color: #0026ff;
        }
</style>


