@model OnlineLudoGame.Models.Board
@{
    ViewBag.Title = "Tic Tac Toe";
}
@section Styles{<link href="~/Content/gameBackground.css" rel="stylesheet" type="text/css" />}
<center><h4>GameID: @Model.GameID</h4></center>
<center><h1>@Model.Player's Turn</h1></center>

@using (Html.BeginForm("PlayerMove", "Home"))
{
    <div id="game">
        <div>
            <button id="1" type="submit" name="buttonClick" value="0">@Model.Cell1</button>
            <button id="2" type="submit" name="buttonClick" value="1">@Model.Cell2</button>
            <button id="3" type="submit" name="buttonClick" value="2">@Model.Cell3</button>
        </div>
        <div>
            <button id="4" type="submit" name="buttonClick" value="3">@Model.Cell4</button>
            <button id="5" type="submit" name="buttonClick" value="4">@Model.Cell5</button>
            <button id="6" type="submit" name="buttonClick" value="5">@Model.Cell6</button>
        </div>
        <div>
            <button id="7" type="submit" name="buttonClick" value="6">@Model.Cell7</button>
            <button id="8" type="submit" name="buttonClick" value="7">@Model.Cell8</button>
            <button id="9" type="submit" name="buttonClick" value="8">@Model.Cell9</button>
        </div>
    </div>
}

<style>
    #game {
        width: 670px;
        height: 670px;
        background: #000000;
        border: 5px solid black;
        margin: 40px auto;
        padding: 35px;
        overflow: auto;
    }

        #game div {
            margin: 0 auto;
            clear: both;
            width: 600px;
        }

        #game button {
            display: block;
            float: left;
            width: 180px;
            height: 180px;
            border: 3px solid #0026ff;
            font-size: 130px;
            color: black;
            margin: 9px;
            background-color: #0026ff;
        }
</style>


