
@{
    ViewBag.Title = "Join";
}
<html>
<head>
    <title>@ViewBag.Title</title>
</head>


<body>
    <table border="1" style="width:1600px;background-color:greenyellow; font-family:'Arial Rounded MT'">
        <tr>
            <td colspan="2" style="text-align:center"><h3>Welcome to our Aawsome Tic Tac Toe game!</h3></td>
        </tr>
        <tr>
            <td style="width:1000px; background-color:greenyellow;" ;>

                <ul> Enter your details: </ul>
                <br />
                @using (Html.BeginForm())
                {
                    <div>
                        @Html.Label("Name")
                        @Html.TextBox("wadwadwad")
                    </div>
                    <br />
                    <br />
                    <div>
                        @Html.Label("Email")
                        @Html.TextBox("dwadwad")
                    </div>
                    <br />

                    <div>
                        @Html.Label("Select a new game:")
                        @Html.CheckBox("Label", false)
                        @Html.Label("     OR       Join an existing game:")
                        @Html.CheckBox("Label", false)

                    </div>
                }
                <br />

             

                <input type="submit" name="submitbtn" value="Save your data"></input><br />
               @* </form>*@
                <br />
                <br />

                <h4> @Html.ActionLink("Go to game", "Game")</h4>

            <td style="width:600px; background-color:blue; align-items:stretch ; style=" text-align:center;""><img src=" ~/Images/Tic_Tac_Toe.png" /></td>



        </tr>
        <tr>
            <td colspan="2" style="text-align:center; font-size:x-small;background-color:greenyellow;">
                <h5>© 2018 Team Aawsome </h5>

            </td>
        </tr>

    </table>
</body>

</html>
