@*@model OnlineLudoGame.Models.PlayerGame
@{
    ViewBag.Title = "Join";
}
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <table border="1" style="width:1600px;background-color:yellow; font-family:'Arial Rounded MT'">
        <tr>
            <td colspan="2" style="text-align:center"><h3>Welcome to our Aawsome Ludo-game!</h3></td>
        </tr>
        <tr>
            <td style="width:1000px; background-color:red;" ;>
                <ul> Enter your details: </ul>


                @using (Html.BeginForm())
                {
                    <div>
                        @Html.LabelFor(newPlayer => newPlayer.Player.Name)
                        @Html.TextBoxFor(newPlayer => newPlayer.Player.Name)
                    </div>
                    <br />
                    <div>
                        @Html.LabelFor(newPlayer => newPlayer.Player.Email)
                        @Html.TextBoxFor(newPlayer => newPlayer.Player.Email)
                    </div>
                    <br />
                    <div>
                        @Html.Label("Select a new game:")
                        @Html.RadioButtonFor(newPlayer => newPlayer.Game.Player, "Player_One")
                        @Html.Label("   OR  Join an existing game:")
                        @Html.RadioButtonFor(newPlayer => newPlayer.Game.Player, "Player_Two")


                    </div>
                    <div>

                        <input type=button onClick=" ActionResult.Create()" value="Save"></input>
                    </div>
                    <br />

                    <script type="text/javascript">
                        function gamePlayer() {
                            if (("Player_One").checked == true) {
                        @Html.Label("You are Player 1");
                        }
                            else if (document.getElementById("Player_Two").checked == true) {
                               @Html.Label("You are Player 2");
                        }


                        else {
                        // DO NOTHING
                        }
                        }
                    </script>


                    <br />
                        <div>
                            <h5> Choose a color: </h5>
                            <form action="GetTheForm" method="post">
                                <input type="radio" name="preferred_color" value="Red" /> Red
                                <input type="radio" name="preferred_color" value="Blue" /> Blue
                                <input type="radio" name="preferred_color" value="Green" /> Green
                                <input type="radio" name="preferred_color" value="Yellow" /> Yellow
                                <input type="text" name="texBox1" value="3"></input>
                                <input type="submit" name="submitbtn" value="Press Me"></input>
                            </form>

                            <h3 style="text-align :center"> @Html.ActionLink("Enter the game", "LudoBoard")</h3>

                            }
                            @*Lyckas inte få bilden att hamna i mitten.
                    @*</td>
                    <td style="width:600px; background-color:blue; align-items:stretch ; style=" text-align:center;""><img src=" ~/Images/ludo.jpg" /></td>


               // </tr>
                <tr>
                    <td colspan="2" style="text-align:center; font-size:x-small;background-color:green;">
                        <h5>© 2018 Team Aawsome </h5>

                    </td>
                </tr>

            </table>
        </body>
    </html>*@
