@model OnlineLudoGame.Models.Player
@{
    ViewBag.Title = "Join";
}
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <table border="1" align="center" style="width:1000px;background-color:greenyellow; font-family:'Courier New'">
        <tr>
            <td colspan="2" style="text-align:center"><h3>Welcome to our Aawsome Tic Tac Toe game!</h3></td>
        </tr>
        <tr>
            <td style="width:600px; background-color:greenyellow;">

                <br />
                @using (Html.BeginForm("LoginUser", "Home"))
                { 
                    <div>
                        @Html.LabelFor(m => m.Name, "Enter Name")<br />
                        @Html.TextBoxFor(m => m.Name, new { @required = true})
                    </div>
                    <br />
                    <div>
                        @Html.LabelFor(m => m.Email, "Enter Email")<br/>
                        @Html.TextBoxFor(m => m.Email, new { @required = true })
                        <br />
                        <br />
                        <br />
                        <input type="submit" name="startbtn" value="Start a game">
                        @if(Gameengine.Lobby.PendingGame.Count > 0)
                        {
                        <input type="submit" name="joinbtn" value="Join an existing game">
                        }

                    </div>
                }
                <br />
                <br />
                <br />

                

                <h3></h3>

                

            <td style="width:400px; background-color:blue; align-items:stretch ; style=" text-align:center;""><img src=" ~/Images/Tic_Tac_Toe.png" /></td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:center; font-size:x-small;background-color:greenyellow;">
                <h5>© 2018 Team Aawsome </h5>

            </td>
        </tr>

    </table>
</body>

</html>












