
@{
    ViewBag.Title = "Tic Tac Toe";
}

@*<h2>Tic Tac Toe</h2>*@


    <style>
        #game {
            width: 250px;
            height: 250px;
            background: #eee;
            border: 3px solid #4cff00;
            margin: 50px auto;
            padding: 10px;
            overflow: auto;
        }

            #game div {
                margin: 0 auto;
                clear: both;
                width: 180px;
            }

            #game button {
                display: block;
                float: left;
                width: 50px;
                height: 50px;
                margin: 5px;
            }

        #score {
            width: 550px;
            height: 350px;
            background: #eee;
            border: 3px solid #4cff00;
            margin: 10px auto;
            padding: 10px;
            overflow: auto;
        }

            #score div {
                margin: 0 auto;
                clear: both;
                width: 160px;
                background-color: greenyellow;
            }

            #score button {
                display: block;
                float: right;
                width: 150px;
                height: 80px;
                margin: 5px;
                align-items: stretch;
            }

            #score text {
                float: right;
                width: 150px;
                height: 30px;
                margin: 5px;
            }
    </style>


    @using (Html.BeginForm())
    {
        <div id="game">

            <div>
                <button id="1" name="testname" type="submit" value="1">@ViewBag.ett</button>
                <button id="2" name="testname" type="submit" value="2">@ViewBag.två</button>
                <button id="3" type="submit" value="3">@ViewBag.tre</button>
            </div>
            <div>
                <button id="4" type="submit" name="testname" value="4">@ViewBag.fyra</button>
                <button id="5" type="submit" name="testname" value="5">@ViewBag.fem</button>
                <button id="6" type="submit" name="testname" value="6">6</button>
            </div>
            <div>
                <button id="7" type="submit" name="testname" value="7">7</button>
                <button id="8" type="submit" name="testname" value="8">8</button>
                <button id="9" type="submit" name="testname" value="9">9</button>
            </div>

            <br />
            <br />
            <div id="gameActionDisplay">Message to the user: ex Player 1 Won!</div>
        </div>
    }
    @using (Html.BeginForm())
    {
        <div id="score">
            <div>
                <text>hello</text>
                <text>Your score</text>
                <text>what ever</text>


            </div>
            <div>

                <button type="submit" name="newGame" value="newGame">Push for new game</button>
            </div>


        </div>

    }

